.nav-container {
    position: sticky;
    display: flex;
    height: 10vh;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    transition: all 0.5s;

    .logo-and-links {
        gap: 10vh;

        .logo-container {
            width: 50px;
            height: 50px;
        }

        .navlinks-container {
            gap: 30px;
            list-style: none;
        }

    }
}

.dark-nav {
    background-color: var(--dark-bg);
    color: white;
}

.light-nav {
    background-color: white;
}