.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 100vh;
  transition: all 0.5s;
}

.dark-main {
  background-color: var(--dark-bg);
}

.flex {
  display: flex;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}
